@model vulnerable_ctf.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h2>Welcome Admin!</h2>
    <form asp-action="Login" asp-controller="Admin" method="POST" asp-antiforgery="false">
        <div>
            <label>
                Username:
            </label>
            <input asp-for="Username" />
        </div>
        <div>
            <label>
                Password:
            </label>
            <input asp-for="Password" type="password" />
        </div>
        <button class="btn btn-danger">Login</button>
    </form>
</div>